/* universel selector */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
/* id selector */
#container{
    text-align: center;
    width: 50%;
    background-color: tomato;
    margin: 8% auto;
    padding: 20px;
}
/* decendent select */
#container h1{
    font-size: 40px;
    margin: 25px 0px;
}
/* Groupin selector */
input,
label{
display: block;
width: 80%;
margin: auto;
}
label{
    font-size: 20px;
    text-transform: uppercase;
} 
input{
    padding: 10px;
    margin: 10px auto;
}


p{

}
 /* Decrement selector */
p a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}
/* attribute selector */
input[type="submit"] {
    width: 25%;
    font-size: 15px;
    font-weight: 700;
    background-color:aqua;
    color: white;
    border-radius: 5px;

}
/* psudo class selector*/

input[type="submit"]:hover{
background-color: white;
color: red;
border: red;
}
/* psudo elemant selector */
input::placeholder{
    color: red;
}